<div class="flex flex-col lg:flex-row h-screen">
    <div class="w-full lg:w-1/2 bg-gray-200">
        <div class="h-full flex items-center justify-center">
            <img src="/assets/images/supermarket.webp" alt="Imagen de supermarket"
                class="object-cover h-full lg:h-full">
        </div>
    </div>
    <div class="w-full lg:w-1/2 flex flex-col items-center justify-center">
        <h1 class="text-3xl font-bold mb-8">Bienvenido al Gestor de Ventas</h1>
        <form class="w-full lg:w-3/4 bg-slate-100 shadow-md rounded px-8 py-6">
            <div class="relative flex items-center pt-5 mb-5">
                <input type="text" id="username" name="username" [(ngModel)]="username"
                    class="input__field border-0 border-b-2 border-secondary outline-none text-text px-0 py-1 pr-8 bg-transparent transition duration-200 w-full" 
                    style="padding-right: 2rem;" placeholder="Usuario..." >
                <label for="username" class="input__label">
                    Usuario
                </label>
                <img src="/assets/icons/user.svg" class="ml-2" alt="Icono de usuario">
            </div>
            <div class="relative flex items-center pt-5 mb-5">
                <input type="password" id="password" name="password" [(ngModel)]="password"
                    class="input__field border-0 border-b-2 border-secondary outline-none text-text px-0 py-1 pr-8 bg-transparent transition duration-200 w-full" 
                    style="padding-right: 2rem;" placeholder="Contraseña...">
                <label for="password" class="input__label">
                    Contraseña
                </label>
                <img src="/assets/icons/password.svg" class="ml-2" alt="Icono de contraseña">
            </div>
            <button (click)="login($event)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Ingresar
            </button>
        </form>
        <div class="mt-4">
            <a (click)="restablecerContrasenia();" class="text-blue-600 hover:text-blue-800 cursor-pointer">¿Has olvidado tu contraseña?</a>
        </div>
    </div>
</div>
<app-alert></app-alert>